@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

body{
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}

.information-holder{
    width: 100%;
    padding: 40px 80px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.heading{
    font-weight: 900;
}

.heading-2{
    font-weight: 500;
}

.text{
    font-weight: 300;
}

.information ul{
    padding-top: 20px;
    padding-bottom: 30px;
}

.link-holder{
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    margin-left: 13%;
    margin-top: 20px;
    
}
.link-holder a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: larger;

}

.link-holder a:hover{
    border-radius: 10px;
    background-color: rgba(208, 208, 208, 0.745);
}

#goToTopButton{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    right: 50px;
    bottom: 80px;
    background-color: rgb(246, 246, 246);
    color: rgb(36, 36, 36);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    height: 80px;
    width: 80px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    font-weight: 900;
    cursor: pointer;
    transition: transform 0.3s;

}
#goToTopButton:hover{
    transform: scale(1.1);
    background-color: rgb(220, 219, 219);
}

#footer{
    position: inherit;
    height: 40px;
}


